:root {
    --off-white: #f9fafb;
    --med: 60px;
}

/* Myers reset */
/* removed em */
/* removed h3 */
/* removed h4 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End Myers Reset */
@font-face {
    font-family: norse-font;
    src: url(./fonts/Norse-Bold.otf);
  }

body {
    display: flex;
    flex-direction: row;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.side {
    width: 500px;
    background-color: black;
}

img {
    height: 100vh;
    width: 500px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Set container height to occupy full viewport height */
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f9fafb;
    justify-content: flex-end;
    line-height: normal;
}

.text {
    margin-left: var(--med);
    margin-right: 100px;
    margin-bottom: 80px;
}

.form-container {
    flex: 1;
    background-color: white;
    margin-left: var(--med);
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: small;
    font-weight: bold;
    color: gray;
}

input {
    display: inline-block;
    margin-bottom: 10px;
}

fieldset {
    display: flex;
    flex-direction: row;
}

fieldset>div {
    margin-right: 40px;
}



.cta {
    flex: 1;
    background-color: var(--off-white);
    padding-left: var(--med);
}

button {
    padding: 10px 40px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}


.cta>h4>b {
    color: #596D48;
}